/* .loginback{
    background-color: rgba(0, 0, 0, 0.498);
    top: 0;
  
    width: 100%;
    position: absolute;
    z-index: 2;
    margin: 0; 
    height: 100%; 
    

} */



/* body{
    overflow: hidden
} */